{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Toll System...{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block stylesheet %}{% endblock %}
  </head>
  <body>
    {% block body %}
      <div class="wrapper">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <div class="container">
            <a class="navbar-brand" href="{% url 'homePage' %}">Troll System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'homePage' %}">Home</a>
                </li>
<li class="nav-item">
                  <a class="nav-link" href="{% url 'vehicle' %}">Enter Manually</a>
                </li>
              </ul>
              {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown">
                    <div class="btn-group">
                     <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ user.username}}
                     </button>
                    <div class="dropdown-menu">
                    
                      <a class="dropdown-item" href="{% url 'edit_profile' %}">Update Profile</a>
                      <a class="dropdown-item" href="#">Change Password</a>
                      <a class="dropdown-item" href="{% url 'vehicle_detail' %}">Add Vehicle Details</a>
                      <a class="dropdown-item" href="{% url 'bank_detail' %}">Add Bank Details</a>
                      <div class="dropdown-divider"></div>
                       <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                    </div>
                  </div>
                  </li>
                </ul>
                
              {% else %}
                <form class="form-inline ml-auto">
                  <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                  <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
                </form>
              {% endif %}
            </div>
          </div>
        </nav>
        <div class="container">
          <ol class="breadcrumb my-4">
            {% block breadcrumb %}
            {% endblock %}
          </ol>
          {% include 'messages.html' %}
          {% block content %}
          {% endblock %}
        </div>
        <div class="push"></div>
      </div>
    {% endblock body %}

    {% block javascript %}{% endblock %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42049022-13"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-42049022-13');</script>
  </body>
</html>
